<html lang="zh">
<head>
<meta charset="utf-8" />
<link type="text/css" href="/static/css/css.css"  rel="stylesheet"/>
</head>
<body>
<div class="header">
<a href="" class="logo"><img width="47" height="35" src="/static/image/logo.gif"/>m72s</a>

<span class="nav">
<span class="nav-next">导航</span>
<span class="nav-icon"></span>
</span>
</div>

<div class="main">
  <p>充值账号：<input type="text" value="6230582000044431503"/></p>
  <p>所属银行：<input type="text"/></p>
  <p>充值金额：<input type="text"/></p>
  <p><input type="button" value="确认充值" style="background:#2C4983;border:#2C4983 0px;border-radius:3px;padding:5px;margin:auto;display:block;color:#fff;"/></p>
</div>
<div class="footer"></div>
<script data-main="/static/js/main" src="/static/js/require.js"></script>
</body>
</html>