<html lang="zh">
<head>
<meta charset="utf-8" />
<link type="text/css" href="/static/css/css.css"  rel="stylesheet"/>
</head>
<body>
<div class="header">
<a href="" class="logo"><img width="47" height="35" src="/static/image/logo.gif"/>m72s</a>

<span class="nav">
<span class="nav-next">导航</span>
<span class="nav-icon"></span>
</span>
</div>
<style>
.main h1{width:960px;margin:auto;text-align:center;font-size:100px;padding:100px;margin-top:100px;background:#CAEEFC;border-radius:15px;}
.main h1 b{font-size:20px;}
.main h1 p{font-size:16px;}
</style>
<div class="main">
<h1 style="">404     <b>${err}</b><br/><p class="jump">
页面自动 <a id="href" href="javascript:window.history.go(-1)">跳转</a>等待时间： <b id="wait">2</b>
</p></h1>
<div class="footer"></div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 2000);
})();
</script>
</body>
</html>