<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/jscss/base.css" type="text/css" />
		<style>
			form {
				margin: 0;
			}
			textarea {
				display: block;
			}
		</style>
		<link rel="stylesheet" href="/static/kindeditor/themes/default/default.css" />
		<script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
		<script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
				        uploadJson : '/upload',
                                        fileManagerJson : '/upload',
                                        allowFileManager : true
				});
			});
		</script>
</head>
<body style="background:#A9A9A9;">
<div class="content">
<div class="head">
</div>
<div class="con">
	    <form method="post">
		<li><span>栏目:</span>
		<span>
		<select>
		  <option>栏目一</option>
		  <option>栏目一</option>
		  <option>栏目一</option>
		</select>
		</span>
		</li>
		<li><span>标题:</span><span><input type="text" name="title"/></span></li>
		<li><span>KEYD:</span><span><input type="text" name="keyword"/></span></li>
		<li><span>上传:</span><span><input type="upload" name="upload"/></span></li>
		<li><span>标签:</span><span><input type="text" name="tag"/></span></li>
		<li>
			<textarea name="content" style="width:100%;height:400px;visibility:hidden;"></textarea>
		</li>
	    <li class="submit"><input type="submit" value="提交"/></li>
		</form>
</div>
</div>
</body>
</html>
