<html lang="zh-cn">
<meta charset="utf-8" />
<body>
<div class="tab">
      <div class="head">
	  <h5><a>添加导航</a></h5>
	  <h6 class="head-nav">
      </h6>
      </div>	  
</div>
<div class="tab bo">
	  <h6 class="head-navs"><div>上级菜单：</div>|<div><select><option>栏目一</option><option>栏目一</option><option>栏目一</option></select></div></h6>
	  <h6 class="head-navs"><div>是否新窗口打开：</div>|<div><input name="is_open" value="1" id="is_open_1" type="radio"><label for="is_open_1">是</label><input checked="checked" name="is_open" value="0" id="is_open_2" type="radio"><label for="is_open_2">否</label></div></h6>
	  
	  <h6 class="head-navs"><div>是否显示：</div>|<div><input name="is_open" value="1" id="is_open_1" type="radio"><label for="is_open_1">是</label><input checked="checked" name="is_open" value="0" id="is_open_2" type="radio"><label for="is_open_2">否</label></div></h6>
	  
	  <h6 class="head-navs"><div>链接地址：</div>|<div><input size="80%" name="url" id="url"/></div></h6>
</div>
</body>
</html>